@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app-shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;        
  height: 85px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  z-index: 1200;
  background-color: rgb(250, 248, 255);
 box-shadow: 0 4px 12px rgba(26, 23, 59, 0.08);
  width: 100vw;     
  max-width: none; 
  padding: 0 20px 0 20px;
}

.navbar-logo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; 
  background: transparent;
}

.navbar-logo-img {
  height: 85px;
  width: auto; 
  display: block;
  object-fit: contain;
}
.menu-btn, .acc {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  color: rgb(26, 23, 59);
  background: rgba(255, 255, 255, 0.1);
}

.fa-list, .fa-right-from-bracket {
    color: rgb(26, 23, 59) !important;
    font-size: 28px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: rgb(248, 245, 255);
  transition: left 0.3s ease;
  z-index: 1100;
  overflow-y: auto;
  padding-top: 80px;
  font-family: montserrat;
}

.sidebar.active { left: 0; }

.side-cards.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}

.side-box.card{
  display: flex;
  height: 75px;
  cursor: pointer;
  color: rgb(26, 23, 59);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(237, 232, 254);
  border-radius: 5px;
    transition: background-color 0.21s;
  &:hover{
    background-color: rgb(220, 210, 255);
  }
}

.side-box.card span {
  background-color: transparent;
}
.fa-solid.fa-house, .fa-solid.fa-circle-info,.fa-solid.fa-helmet-safety, .fa-solid.fa-gas-pump, .fa-solid.fa-briefcase, .fa-solid.fa-address-book {
  background: transparent;
  color: rgb(26, 23, 59);
  padding: 5px;
}

.side-menu.bottom{
  margin-top: auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 20px;
  background-color: rgb(237, 232, 254);
  color: rgb(26, 23, 59);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  height: 55px;
  transition: background-color 0.21s;
  &:hover{
    background-color: rgb(220, 210, 255);
  }
}
.side-action i{
  background: transparent;
  color: rgb(26, 23, 59);
  margin-right: 15px;
}
.side-action span{
  background: transparent;
  color: rgb(26, 23, 59);
  font-size: 1.2rem;
}




.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  transition: opacity 0.3s ease;
  display: none;
  z-index: 1000;
}
.overlay.active { display: block; }


.main {
  margin-top: 70px;
  flex: 1; 
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}


.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  max-width: 900px;  
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 40px;
}


.messages {
  flex: 1;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  font-family: montserrat;
  gap: 15px;
  padding: 20px 10px;
}


.chat-bubble {
  max-width: 80%;
  padding: 12px 16px;
  background-color: rgb(41, 36, 74);
  border-radius: 15px;
  font-size: 1rem;
  line-height: 1.4;
  word-wrap: break-word;
}
.chat-bubble span{
  border: none;
  background: transparent;
}

.chat-bubble.bot {
  align-self: flex-start;
  background:rgb(237, 232, 254);
  color:rgb(41,36,74);
  border-bottom-left-radius: 2px;
  border: 1px solid #c3c3c39f;
}


.chat-bubble.user {
  align-self: flex-end;
  background: rgb(41, 36, 74);
  color:rgb(252, 252, 252);
  border-bottom-right-radius: 2px;
}


.input-box {
  background: rgb(248, 245, 255);
  height: 60px;

  width: clamp(650px, 70vw, 800px) !important;

  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  border: 1.5px solid rgb(82, 74, 116);
  margin: auto;
}




.input-centered {
  width: auto;            
  margin: auto;
}




.input-bottom { width: 95%; }

#imp {
  flex: 1;
  border: none;
  padding: 0 15px;
  outline: none;
  font-size: 1rem;
}

.add,
.btn1 {
  background: rgb(41, 36, 74);
  color: rgb(248, 245, 255);
  border: none;
  cursor: pointer;
  margin: 0;
  height: 48px;         
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  white-space: nowrap;
}

#imp::placeholder{
  font-family: montserrat;
  font-size: 17px;
  color: rgba(82, 74, 116,0.6);
}

#imp{
  font-family: montserrat;
  font-size: 18px;
  background: transparent;
}
.add {
  width: 48px;
  border-radius: 50%;
  font-size: 1.2rem;

  &:hover{
    background-color: rgb(63, 56, 96);
    color: white;

  }
}

.add i{
  background: none;
}


.btn1 {
  padding: 0 18px;
  border-radius: 16px;
  font-family: google sans;
  font-size: 18px;

  &:hover{
    background-color: rgb(63,56,96);
    color: white;
  }
}
